body{
    margin: 0px;
}

/*body header*/
#body-header{
/*    height of header image*/
    height: 65vh;
    background-image: url(images/header-image1.jpg);
    background-size: cover;
    background-position: center;
    
/*    blurish effect*/
    opacity: 0.8;
    
/*    backfround parallex effect*/
    background-attachment: fixed;
}



/*Horizontal List*/

.horizontal-list{
    list-style: none;
    padding-left: 0px;
    
}
.horizontal-list{
    list-style: none;
    padding-left: 0px;
    text-align: center;
    margin: 0px;
    
}
/*to make it horizontal list*/
.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 0px 8px
    
}

.horizontal-list a{
    color: white;
    text-decoration: none;
    transation delay in color
    
}

.nav-menu{
/*    we want this transation in navagation menu*/
    transition: color 0.5s, border-bottom 4s;
}

/*underline when hover*/
.nav-menu li a:hover{
    color: lightgray;
    border-bottom: 1px solid white;
}
.text-center{
    text-align: center;
}

#name-social-container{
    margin-top: 20vh;
}
#my-name{
    font-size: 4rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
    
    
}


.social-icon li a i{
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 50%;
}

.social-icon li a i:hover{
/*    to add shadow while hover*/
    
/*    1.horizontal offset,+ve indicate shodow to right, 0 equal to left and right ,-ve shadow toward left*/
/*    2. vertical offset, +ve to bottom,0 for both top and bottom, -ve for top*/
/*    3.blur, if we want shadow to be blur*/
/*    4. to spread over area.*/
/*    5. color*/
    
/*    box-shadow: 1,2,3,4,5 values*/
    box-shadow: 0px 0px 4px 4px rgba(230,196,196,0.3);
}




/*adding flex*/
section{
    width: 100%;
    display: flex;
    flex-direction: column;
/*    height: 100vh;*/
    
/*    to allign item works cross axis in center*/
/*    cross axis will be vertical*/
    align-items: center;
    
    
}

/*    every alternative section is having alternative color*/
/*to do this*/

section:nth-child(2n){
    background-color: #9e9b9b29;
}
section:nth-child(2n+1){
    background-color: white;
    
}

.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    
    font-weight: 400;
}
.section-heading span{
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}






/*About Section*/

#about-section{
    height: auto;
    width: 100%;
    
/*    to make photo come over header section*/
    position: relative;
    
}

#my-image{
    height: 18rem;
    width: 18rem;
    margin: auto;
    margin-top: -17vh;
    
}

#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%
}





/*Skills Section*/
.skills-display{
    width: 75%;
    height: 200px;
    
/*    border: 2px solid black;*/
    
    display: flex;
    
/*    to wrap items according to the avaliable space*/
    flex-wrap: wrap;
    
/*    spaces between the items to be equal*/
    justify-content: space-between;
}
.skill-progress{
    width: 7rem;
    height: 2rem;
    background-color: lightgray;
    border-radius: 1.2rem;
    border: 2px solid black;
    
}
/* > this will only apply to direct child of skill progress*/
.skill-progress>div{
    border-radius: 20px 0px 0px 20px;
}
.skill-name span{
    color: white;
    font-size: 1.2rem;
    margin-left: 10px
}


.mb75px{
    margin-bottom: 75px;
}
.mb-blue{
    background-color: #2857a4;
/*
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem
*/
}
.mb-green{
    background-color: mediumseagreen;

}
.mb-orange{
    background-color: coral;

}
.text-highlight{
    color: #2857a4;
    font-weight: 600;
}


/*Percentage classes*/
.eighty-five-percent{
    width: 85%;
    height: inherit;
}
.fifty-five-percent  {
    width: 55%;
    height: inherit;
}
.sixty-percent{
    width: 60%;
    height: inherit;
}
.fourty-percent{
    width: 40%;
    height: inherit;
}
.seventy-percent{
    width: 70%;
    height: inherit;
}




/*Work Experience Section*/

.timeline-section{
    position: relative;
    width: 75%;
    border: 2px solid black;
    
}
.timeline-box{
    position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    min-height: 150px;
    border: 2px solid black;
}
/*We want alternate boxex, 1 towards left and then 2 right*/

.timeline-box:nth-child(2n){
    left: 53%;
}

/*to add dot in the timeline bar*/
.timeline-box:nth-child(2n+1)::after{
    content: '';
    position: absolute;
    top: 33%;
    right: -12.5%;
    border-radius: 50%;
    height: 0.5rem;
    width: 0.5rem;
    background-color: red;
    z-index: 1;
    
/*    to decide which div to visible in case of overlaping*/
    z-index: 1;
}
.timeline-box:nth-child(2n)::after{
    content: '';
    position: absolute;
    top: 33%;
    left: -9.5%;
    border-radius: 50%;
    height: 0.5rem;
    width: 0.5rem;
    background-color: red;
    z-index: 1;
}

.timeline-divider{
    position: absolute;
    height: 75%;
    width: 0;
    border: 3px dashed #0096fa6b;
    top: 10%;
    left:50%
    
}

.timeline-traveller{
    position: sticky;
    top: 25%;
    transform: rotate(90deg);
    z-index: 2;
}













